force-app/main/default/flows/Account_Create_Case_For_GPO_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>GPO Field Check</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>GPO Field Update</label>
        </rules>
    </decisions>
    <description>Create a case for File Admin when a GPO account is sent to SAP for creation</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;Please add these updates to the new account with SAP ID #&quot;&amp;[Account].SAP_Account_ID__c &amp;&quot;:&quot;&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
&quot;1. Look in Healthcare details GPO field: add that GPO name as a reporting tag to the account in SAP: (add only one tag*: Premier GPO, or HealthTrust or Amerniet, or Novation, or MedAssets, or TheResourceGroup, or CSF, or APN )&quot;&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
&quot;2. Tie the SAP account to KAP - PL64  AND add E2 as the delivery rules&quot;&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
&quot;3. Add these exact notes to the Special Notes/Delivery Information in SAP: &quot; &amp;&#39;&quot;&#39; &amp;&quot;1.  Add customer PO# to first line of delivery instructions. 2.  E2 delivery rule exception: individual microwave or compact refrigeration orders should be charged $30.00, not the base rate of $60.00.&quot;&amp; &#39;&quot;&#39;&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
&quot;*NOTE: only in some special cases will an account have more than one healthcare reporting tag; those situations will be sent with separate instructions.&quot;&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
&quot;Thank you very much.  -The Sears Commercial Healthcare Team&quot;
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_Description</name>
        <dataType>String</dataType>
        <expression>&quot;Please add these updates to the new account with SAP ID #&quot;&amp;{!myVariable_current.SAP_Account_ID__c} &amp;&quot;:&quot;&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
&quot;1. Look in Healthcare details GPO field: add that GPO name as a reporting tag to the account in SAP: (add only one tag*: Premier GPO, or HealthTrust or Amerniet, or Novation, or MedAssets, or TheResourceGroup, or CSF, or APN )&quot;&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
&quot;2. Tie the SAP account to KAP - PL64  AND add E2 as the delivery rules&quot;&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
&quot;3. Add these exact notes to the Special Notes/Delivery Information in SAP: &quot; &amp;&#39;&quot;&#39; &amp;&quot;1.  Add customer PO# to first line of delivery instructions. 2.  E2 delivery rule exception: individual microwave or compact refrigeration orders should be charged $30.00, not the base rate of $60.00.&quot;&amp; &#39;&quot;&#39;&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
&quot;*NOTE: only in some special cases will an account have more than one healthcare reporting tag; those situations will be sent with separate instructions.&quot;&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
&quot;Thank you very much.  -The Sears Commercial Healthcare Team&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;Please make an update to this SAP account -- &quot;&amp;[Account].SAP_Account_ID__c &amp;&quot;:&quot;&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;   
&#39;1. Scroll to the account record &quot;SFDC Healthcare Details Section.&quot;&#39;&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
&#39;2. Look at the &quot;GPO&quot; field.&#39;&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
&#39;3. Perform one of these reporting tag actions in SAP: CHANGE, ADD or DELETE:&#39;&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
&quot;&gt; CHANGE: If the SFDC GPO tag is different  than the existing reporting or operating tag in SAP - please CHANGE  SAP to the new reporting tag listed in SFDC. There should only be GPO tag on an account*. &quot;&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
&quot;&gt; ADD: If there is not a GPO reporting or operating tag in SAP - please ADD the SFDC GPO reporting tag listed.&quot;&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
&quot;&gt; DELETE: if there is a GPO reporting or operating tag in SAP, but the SFDC GPO field is empty - please DELETE the GPO reporting tag from SAP&quot;&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
&quot;*Note: these are the possible GPO reporting tags:  Premier GPO, or HealthTrust or Amerniet, or Novation, or MedAssets, or TheResourceGroup, or CSF, or APN&quot;&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
 SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
&quot;*Note: only in some special cases will an account have more than one healthcare reporting tag; those situations will be sent with separate cases.&quot; &amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
&quot;Thank you very much.  -The Sears Commercial Healthcare Team &quot;
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_4_A1_Description</name>
        <dataType>String</dataType>
        <expression>&quot;Please make an update to this SAP account -- &quot;&amp;{!myVariable_current.SAP_Account_ID__c} &amp;&quot;:&quot;&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;   
&#39;1. Scroll to the account record &quot;SFDC Healthcare Details Section.&quot;&#39;&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
&#39;2. Look at the &quot;GPO&quot; field.&#39;&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
&#39;3. Perform one of these reporting tag actions in SAP: CHANGE, ADD or DELETE:&#39;&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
&quot;&gt; CHANGE: If the SFDC GPO tag is different  than the existing reporting or operating tag in SAP - please CHANGE  SAP to the new reporting tag listed in SFDC. There should only be GPO tag on an account*. &quot;&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
&quot;&gt; ADD: If there is not a GPO reporting or operating tag in SAP - please ADD the SFDC GPO reporting tag listed.&quot;&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
&quot;&gt; DELETE: if there is a GPO reporting or operating tag in SAP, but the SFDC GPO field is empty - please DELETE the GPO reporting tag from SAP&quot;&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
&quot;*Note: these are the possible GPO reporting tags:  Premier GPO, or HealthTrust or Amerniet, or Novation, or MedAssets, or TheResourceGroup, or CSF, or APN&quot;&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
 SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
&quot;*Note: only in some special cases will an account have more than one healthcare reporting tag; those situations will be sent with separate cases.&quot; &amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
SUBSTITUTE($Label.Line_Break , &quot;-&quot;, &quot;&quot;)&amp;
&quot;Thank you very much.  -The Sears Commercial Healthcare Team &quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
IF(ISCHANGED([Account].Automation_Control__c ),  IF(CONTAINS([Account].Automation_Control_Type__c, &quot;Process&quot;), FALSE,TRUE),TRUE),
NOT(ISPICKVAL([Account].GPO__c, &quot;&quot;)),
CONTAINS(PRIORVALUE([Account].SAP_Account_ID__c), &quot;Processing&quot;) ,
BEGINS( [Account].SAP_Account_ID__c, &quot;001&quot;))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
IF(ISCHANGED({!myVariable_current.Automation_Control__c} ),  IF(CONTAINS({!myVariable_current.Automation_Control_Type__c}, &quot;Process&quot;), FALSE,TRUE),TRUE),
NOT(ISPICKVAL({!myVariable_current.GPO__c}, &quot;&quot;)),
CONTAINS(PRIORVALUE({!myVariable_current.SAP_Account_ID__c}), &quot;Processing&quot;) ,
BEGINS( {!myVariable_current.SAP_Account_ID__c}, &quot;001&quot;))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
IF(ISCHANGED([Account].Automation_Control__c ),  IF(CONTAINS([Account].Automation_Control_Type__c, &quot;Process&quot;), FALSE,TRUE),TRUE),
ISCHANGED([Account].GPO__c),
BEGINS([Account].SAP_Account_ID__c , &#39;001&#39;) 
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>AND(
IF(ISCHANGED({!myVariable_current.Automation_Control__c} ),  IF(CONTAINS({!myVariable_current.Automation_Control_Type__c}, &quot;Process&quot;), FALSE,TRUE),TRUE),
ISCHANGED({!myVariable_current.GPO__c}),
BEGINS({!myVariable_current.SAP_Account_ID__c} , &#39;001&#39;) 
)</expression>
    </formulas>
    <interviewLabel>Account_Create_Case_For_GPO_Create-2_Account</interviewLabel>
    <label>Account - Create Case For GPO - Create</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_1_A1</name>
        <label>Create Case</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Account ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>AccountId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Description</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Description</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <stringValue>00G3A0000039Y1wUAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Record Type ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123A000001O8qfQAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>New GPO Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Case Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Type</field>
            <value>
                <stringValue>General Administration</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_4_A1</name>
        <label>Create Master Data Case</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Account ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>AccountId</field>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Description</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Description</field>
            <value>
                <elementReference>formula_5_myRule_4_A1_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <stringValue>00G3A0000039Y1wUAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Record Type ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123A000001O8qfQAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Subject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Subject</field>
            <value>
                <stringValue>Updated GPO Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Case Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Type</field>
            <value>
                <stringValue>General Administration</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
