force-app/main/default/flows/Contract_Amendment_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Contract_Line</name>
        <label>Assign Contract Line</label>
        <locationX>1008</locationX>
        <locationY>230</locationY>
        <assignmentItems>
            <assignToReference>NewContractLine.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collected_Quote_Lines.SBQQ__Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContractLine.Total_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collected_Quote_Lines.SBQQ__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContractLine.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContractID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContractLine.Net_Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collected_Quote_Lines.SBQQ__NetPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContractLine.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collected_Quote_Lines.SBQQ__NetTotal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContractLine.Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collected_Quote_Lines.SBQQ__Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_the_Collection</name>
        <label>Update the Collection</label>
        <locationX>1002</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>Collection_New_Contract_Lines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewContractLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <description>For generating new contract line items when quotes are amended</description>
    <interviewLabel>Contract Amendment Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Amendment Processv4</label>
    <loops>
        <name>Loop_through_Quote_Lines</name>
        <label>Loop through Quote Lines</label>
        <locationX>806</locationX>
        <locationY>231</locationY>
        <assignNextValueToReference>Collected_Quote_Lines</assignNextValueToReference>
        <collectionReference>Quote_Line_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contract_Line</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Contract_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Contract_Line_Items</name>
        <label>Create Contract Line Items</label>
        <locationX>654</locationX>
        <locationY>504</locationY>
        <inputReference>Collection_New_Contract_Lines</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Existing_Contract_Lines</name>
        <label>Delete Existing Contract Lines</label>
        <locationX>272</locationX>
        <locationY>221</locationY>
        <connector>
            <targetReference>Find_Quote</targetReference>
        </connector>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractID</elementReference>
            </value>
        </filters>
        <object>Contract_Line_Item__c</object>
    </recordDeletes>
    <recordLookups>
        <description>Find all quotes related to contract</description>
        <name>Find_Quote</name>
        <label>Find Quotes</label>
        <locationX>443</locationX>
        <locationY>273</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Line_Items</targetReference>
        </connector>
        <filters>
            <field>SBQQ__MasterContract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractID</elementReference>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputReference>Collection_Quote</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__Status__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>277</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Existing_Contract_Lines</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContractID</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>Contract</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Items</name>
        <label>Get Quote Line Items</label>
        <locationX>623</locationX>
        <locationY>231</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Quote_Lines</targetReference>
        </connector>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteID</elementReference>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <outputReference>Quote_Line_Collection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__Product__c</queriedFields>
        <queriedFields>SBQQ__Quantity__c</queriedFields>
        <queriedFields>SBQQ__NetTotal__c</queriedFields>
        <queriedFields>SBQQ__NetPrice__c</queriedFields>
        <queriedFields>SBQQ__Number__c</queriedFields>
    </recordLookups>
    <startElementReference>Get_Contract</startElementReference>
    <status>Active</status>
    <variables>
        <name>Collected_Quote_Lines</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>Collection_New_Contract_Lines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>Collection_Quote</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <description>Collect all quotes related to contract</description>
        <name>Collection_Quotes</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>Contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>Contract_Lines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>ContractID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewContractLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract_Line_Item__c</objectType>
    </variables>
    <variables>
        <name>Quote_Line_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
    <variables>
        <name>QuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
