force-app/main/default/flows/Delivey_Schedule_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_Delivery</name>
        <label>Assign Delivery</label>
        <locationX>477</locationX>
        <locationY>63</locationY>
        <assignmentItems>
            <assignToReference>New_Delivery.Delivery_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collected_Order.Delivery_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Delivery.Construction_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProjectID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Delivery.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Collected_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Delivery.Delivery_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_the_Collection</name>
        <label>Update the Collection</label>
        <locationX>474</locationX>
        <locationY>176</locationY>
        <assignmentItems>
            <assignToReference>Collection_Delivery</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Delivery</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Orders</targetReference>
        </connector>
    </assignments>
    <description>Creates the delivery schedule records from orders.</description>
    <interviewLabel>Delivey Schedule Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delivey Schedule Creation</label>
    <loops>
        <name>Loop_through_Orders</name>
        <label>Loop through Orders</label>
        <locationX>253</locationX>
        <locationY>60</locationY>
        <assignNextValueToReference>Collected_Order</assignNextValueToReference>
        <collectionReference>Collection_Orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Delivery</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Delivery_Schedule_from_Orders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Delivery_Schedule_from_Orders</name>
        <label>Create Delivery Schedule from Orders</label>
        <locationX>253</locationX>
        <locationY>177</locationY>
        <inputReference>Collection_Delivery</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Find_Orders</name>
        <label>Find_Orders</label>
        <locationX>73</locationX>
        <locationY>61</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Orders</targetReference>
        </connector>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ContractID</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>Collection_Orders</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Delivery_Date__c</queriedFields>
    </recordLookups>
    <startElementReference>Find_Orders</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>Collected_Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>Collection_Delivery</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Delivery_Schedule__c</objectType>
    </variables>
    <variables>
        <description>Collection of Orders</description>
        <name>Collection_Orders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>New_Delivery</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Delivery_Schedule__c</objectType>
    </variables>
    <variables>
        <description>Holds Contract ID</description>
        <name>var_ContractID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>varProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
</Flow>
