force-app/main/default/flows/Site_Confirmation_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Site Confirmation Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Site Confirmation Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Site_Confirmation_Task</name>
        <label>Site Confirmation Task</label>
        <locationX>283</locationX>
        <locationY>76</locationY>
        <assignRecordIdToReference>SiteTaskID</assignRecordIdToReference>
        <connector>
            <targetReference>Add_Task_to_Delivery_Schedule</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Schedule__c</field>
            <value>
                <elementReference>DeliverySchedID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>DeliverySchedID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordUpdates>
        <name>Add_Task_to_Delivery_Schedule</name>
        <label>Add Task to Delivery Schedule</label>
        <locationX>280</locationX>
        <locationY>284</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DeliverySchedID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Site_Confirmation_Task__c</field>
            <value>
                <elementReference>SiteTaskID</elementReference>
            </value>
        </inputAssignments>
        <object>Delivery_Schedule__c</object>
    </recordUpdates>
    <start>
        <locationX>49</locationX>
        <locationY>74</locationY>
        <connector>
            <targetReference>Site_Confirmation_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DeliverySchedID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Due</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SiteTaskID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
