force-app/main/default/flows/Territory_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Territory Management {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Territory Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Territory_Records</name>
        <label>Get Territory Records</label>
        <locationX>489</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Territory_on_Account</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TerritoryNameFromUserRecord</elementReference>
            </value>
        </filters>
        <object>Territory__c</object>
        <outputAssignments>
            <assignToReference>TerritoryRecordID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>206</locationX>
        <locationY>52</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Territory_Records</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountOwner</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>TerritoryNameFromUserRecord</assignToReference>
            <field>Territory_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Territory_on_Account</name>
        <label>Update Territory on Account</label>
        <locationX>211</locationX>
        <locationY>361</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountRecordID</elementReference>
            </value>
        </filters>
        <filters>
            <field>NewTerritory__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>a1L3A000002CazD</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>NewTerritory__c</field>
            <value>
                <elementReference>TerritoryRecordID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Get_User_Record</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TerritoryNameFromUserRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TerritoryRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
