force-app/main/default/flows/Test3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <formulas>
        <name>ProjectName</name>
        <dataType>String</dataType>
        <expression>{!Existing_Contract.Client_Legal_Name__c} &amp; &quot; &quot; &amp; {!Existing_Contract.ContractNumber}</expression>
    </formulas>
    <interviewLabel>Test3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test3</label>
    <loops>
        <name>Loop_through_Orders</name>
        <label>Loop through Orders</label>
        <locationX>525</locationX>
        <locationY>74</locationY>
        <assignNextValueToReference>Collected_Order</assignNextValueToReference>
        <collectionReference>Collection_Orders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_Construction_Project</name>
        <label>Create new Construction Project</label>
        <locationX>347</locationX>
        <locationY>194</locationY>
        <assignRecordIdToReference>varProjectID</assignRecordIdToReference>
        <connector>
            <targetReference>Find_Orders</targetReference>
        </connector>
        <inputAssignments>
            <field>Contract_Executed_on__c</field>
            <value>
                <elementReference>Existing_Contract.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>var_ContractID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G3A000004dx0i</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Construction_Project__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Orders</name>
        <label>Find_Orders</label>
        <locationX>346</locationX>
        <locationY>76</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Orders</targetReference>
        </connector>
        <filters>
            <field>ContractId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ContractID</elementReference>
            </value>
        </filters>
        <object>Order</object>
        <outputReference>Collection_Orders</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Delivery_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Contract_Details</name>
        <label>Lookup Contract Details</label>
        <locationX>166</locationX>
        <locationY>193</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_new_Construction_Project</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ContractID</elementReference>
            </value>
        </filters>
        <object>Contract</object>
        <outputReference>Existing_Contract</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Client_Legal_Name__c</queriedFields>
    </recordLookups>
    <startElementReference>Lookup_Contract_Details</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>Collected_Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>Collection_Delivery</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Delivery_Schedule__c</objectType>
    </variables>
    <variables>
        <description>Collection of Orders</description>
        <name>Collection_Orders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>Existing_Contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>New_Delivery</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Delivery_Schedule__c</objectType>
    </variables>
    <variables>
        <description>Holds Contract ID</description>
        <name>var_ContractID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>varProjectID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
</Flow>
